/* input:focus {
  place-content: "to do"
} */

* {
  box-sizing: border-box;
}

#toDoContainer {
  margin: 0 auto;
  width: 400px;
  text-align: center;
  background: #0969ad;
  border-radius: 8px;
  box-shadow: 
}

h1 {
  color: #fff;
}

p {
  display: inline-block;
  margin: 0px 20px 0px 0px;
  width: 85%;
  text-align: left;
}

span {
  width: 85%;
  color: #ededed;
  margin-right: 13px;
}

span:hover {
  color: #0969ad;
}

#tasksElm div {
  width: 70%;
  margin: 0 auto;
  background: #fcfcfc;
  border: 1px solid #ededed;
  line-height: 1.4;



}

#btnAdd {
  display: inline-block;
  background: #ffffff;
  padding: 1px 2px;
  border: 2px solid #d8d8d8;
  width: 15%;
}

#btnAdd:hover {
  color: #0969ad;

}


#taskManager {
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
  box-shadow: 0 2px 7px rgba(0,0,0,0.2);
  line-height: 1.4;

}

#tasksElm {

}

#tbTaskTxt {
  width: 85%;
  padding: 4.6px 0px;
  /* font-size: 1.25em; */
  vertical-align: bottom;
  
}


